<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <style>
        input{
            margin-bottom: 5px;
        }
    </style>
    <title>Add User</title>
</head>
<body>
    <div class="container" >
        <div class="row" >
            {% block content %}
            {% endblock content %}
        </div>
        {% block list %}
            <h2 style="text-align:center">User List</h2>
            <ul class="list-group">
                {% for user in users %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span >
                    {# <img src="../public/uploads/KILL-THE-NOISE.jpg" alt="..." style="width: 50px" class="rounded-circle"> #}
                    {% block imagen %}
                        <img src="../uploads/{{user.userPhoto}}" alt="..." style="width: 50px" class="rounded-circle ">
                    {% endblock imagen %}
                    {{ user.userName }}
                    </span>
                    <span>
                    <a href="/user/update/{{ user.userId }}" ><i class="fas fa-pencil-alt" style="color:red;" ></i></a>
                    <a href="/user/delete/{{ user.userId }}" ><i class="fas fa-trash-alt" style="color:red;" ></i></a>
                    </span>
                </li>
                {% endfor %}
            </ul>
        {% endblock %}
        
    </div>

</body>
</html>